/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 12, 2024, 4:32:46 PM
    Author     : User
*/

.login-bg{
    -fx-background-color:linear-gradient(to bottom right, #6a9ae7, #426fb1);
}

.text-field1{
    
    
    -fx-border-color: #eef3ff;
    -fx-background-radius: 20px;
    -fx-border-color:#30363f;
    -fx-border-radius:20px;
    -fx-text-inner-color:#000;
    
}

.button-design{
    
    -fx-background-color:#30363f;
    -fx-background-radius: 40px;
    -fx-text-fill:#fff;
    -fx-cursor:hand;
}

.button:hover{
    -fx-background-color: #6a9ae7;
}

.hyper-text{
    
    -fx-text-fill:#fff;
    -fx-border-color:none;
    -fx-border-width: 0px;
}

.Signup{
     -fx-text-fill:#fff;
}
    
.IconUsers{
    -fx-fill: #fff;
}

.exit{
    -fx-background-color: #e04353;
    -fx-background-radius:50px;
    -fx-cursor:hand;
}

.exit:hover{
    -fx-background-color:#ff6073;
}

.logo{
    -fx-text-fill:#141E30;
}

.exit{
    -fx-background-color: #e05a61;
    -fx-cursor:hand;
    -fx-background-radius: 50px;
}

.exit:hover{
    -fx-background-color: #f48188;
}